body {
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0c002b;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputbox {
  position: relative;
}

.box .inputbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
}

.box .inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #0357f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/* box */

.box {
  position: absolute;
  left: 50%;
  letter-spacing: 4px;
  overflow: hidden;
}

/* .box:before {
  content: "";
   position: absolute;
  top: 0;
  left: 0px;
  bottom: 0px; 
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
} */

.box span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: line1 2s linear infinite;
}

@keyframes line1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.box span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: line2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes line2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.box span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: line3 2s linear infinite;
}

@keyframes line3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.box span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: line4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes line4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////// */

/* #submitButton {
} */

.aReimbursement {
  border: 1px solid black;
  margin: 1.2em;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.profileArea {
  height: 40%;
}

.navBar {
  background-color: black;
  border: 1px solid #1779ff;
}

.navTitle {
  color: white;
  text-align: center;
}

.usersProfileArea {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.aReimbursement {
  border: 1px solid black;
  padding: 20px;
}

.pending:hover,
.pending:visited {
  color: white;
  background-color: yellow;
  transition: 1s ease all;
}

.all:hover,
.all:visited {
  color: white;
  background-color: purple;
  transition: 1s ease all;
}

.approve:hover {
  color: white;
  background-color: green;
  transition: 1s ease all;
}

.deny:hover {
  color: white;
  background-color: red;
  transition: 1s ease all;
}

.singleTitle {
  color: white;
  padding: 15px;
}

.singleReimburseTitle {
  display: flex;
  justify-content: center;
}

.modify {
  color: yellow;
}

.modify:hover {
  color: #1779ff;
  transition: 1s ease all;
}

.navigation,
.reimbursementButtons {
  display: flex;
  justify-content: space-around;
}

.personalInfoTitle,
.reimbursementInfoTitle {
  color: black;
  text-align: center;
  padding: 1.1em;
}

.usersReimbursementArea {
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.reimbursementArea,
.profileArea {
  background-color: white;
  width: 45%;
  margin: 1.2em;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.aReimbursementTitleId {
  text-align: center;
}

.cardFormat {
  background-color: white;
  border: 2px solid black;
  width: 45%;
  border-radius: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
}

.homeLayout {
  display: flex;
  justify-content: space-evenly;
}

.managerLogout {
  display: flex;
  justify-content: flex-end;
}

.logout,
.managerLogout {
  padding: 1.1em;
  border-radius: 300px;
  display: flex;
  align-items: center;
}

.logout:hover,
.managerLogout:hover {
  background-color: red;
  transition: all 1s ease;
}

h2 {
  color: white;
}

.title {
  color: #1779ff;
  text-align: center;
}

/* ////////////////////////////// */

.student-profile .card {
  border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}
